.board-index {
    & header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        gap: 0.25rem;
        backdrop-filter: blur(6px);
        
        & .board-title {
            margin: 0;
            padding: 0 0.85rem;
            color: var(--dynamic-text);
            font-size: 16px;
            font-weight: 700;
            line-height: 32px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        & h1, input {
            display: block;

            &.hidden {
                display: none;
            }
        }

        & button {
            margin-inline-end: 0;
        }
    }
}