.board-picker {
    display: flex;
    flex-direction: column;
    height: 100%;

    & .previous-btn {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }

    & .board-editor {
        padding: 0.75rem;
        overflow-y: auto;

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar {
            width: 0.5rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #e6e6e6;
            border-radius: 3px;
            border: 1px solid transparent;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }
    }

    & .change-bg-actions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        height: 100%;
        padding-inline: 0.75rem;
        padding-block-end: 0.75rem;
        margin: 0;
    }

    & .change-bg-btn {
        width: 100%;
        height: 96px;
        padding: 0;
        margin-block-end: 0.5rem;
        border-radius: 0.5rem;
        overflow: hidden;

        &:hover {
            background-color: var(--background-neutral);
            opacity: 0.8;
        }
    }

    & .action-btn {
        width: 100%;
        justify-content: flex-start;
        font-size: 0.875rem;
        font-weight: 400;

        & .action-btn-icon {
            display: flex;
            align-items: center;
            margin-inline-end: 1rem;
        }

        & .action-btn-img {
            width: 20px;
            height: 20px;
            border-radius: 0.25rem;
            margin-inline-end: 0.75rem;
            object-fit: cover;
            overflow: hidden;
        }

        &:hover {
            background-color: var(--background-neutral);
        }
    }

    & .change-bg-item {
        height: 96px;

        &>span {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 20px;
        }
    }

    & .bg-color-selection {
        position: relative;
        width: 100%;
        height: 20px;
        border-radius: 0.25rem;
        overflow: hidden;

        &>img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .gradients-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        margin: 0;
    }

    & .change-color-btn {
        margin-block-end: 0;

        &>svg {
            width: 100%;
            object-fit: cover;
        }
    }
}