.board-picker {
    &>ul {
        padding-inline: 0.75rem;
        padding-block-end: 0.75rem;
        margin: 0;
    }

    & .action-btn {
        width: 100%;
        justify-content: flex-start;
        font-size: 0.875rem;
        font-weight: 400;

        &>span>svg {
            display: flex;
            align-items: center;
        }

        & .action-btn-text {
            margin-inline-start: 1rem;
        }

        &:hover {
            background-color: var(--background-neutral);
        }
    }
}