.date-picker {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &  .picker-header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25rem 0.5rem;

        & .picker-title {
            grid-column: 1 / span 3;
            grid-row: 1;
            height: 40px;
            margin: 0;
            padding: 0 32px;
           
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            color: var(--dynamic-text);
        }
    }

    & .date-range {
        flex-grow: 1;
        overflow-y: auto;
        max-height: 100vh;
        min-height: 0;

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar {
            width: 0.5rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #e6e6e6;
            border-radius: 3px;
            border: 1px solid transparent;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }
    }

    & .calendar {
        padding: 0.5rem;
    }
}