.dynamic-picker {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 304px;
    height: 100%;

    & .close-btn {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 1;
    }

}