.label-picker {
    & .label-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block-end: 0.25rem;
    }

    & .label-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            opacity: 0.7;
        }

        &>input[type="checkbox"] {
            opacity: 0;
            position: absolute;
            width: 0;
            height: 0;

            &:checked+span::before {
                background-color: var(--primary);
                border-color: var(--primary);
            }

            &:checked+span::after {
                content: "";
                position: absolute;
                top: 45%;
                left: 6px;
                transform: translateY(-50%) rotate(45deg);
                width: 3px;
                height: 8px;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                transition: all 0.2s ease;
            }
        }

        & .label-checkbox {
            position: relative;
            padding-inline-start: 2rem;
            flex-grow: 1;

            &>span {
                display: flex;
                align-items: center;
                height: 32px;
                padding: 0 0.75rem;
                border-radius: 0.25rem;
                font-weight: 500;
                line-height: 32px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        & .label-checkbox::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            border: 1px solid #8C8F97;
            border-radius: 2px;
            background-color: #fff;
            transition: all 0.2s ease;
        }
    }

    & .icon-btn {
        margin-inline-start: 0.5rem;
    }
}