.task-edit {
    position: relative;
    width: 1080px;
    height: 100vh;
    max-height: calc(100vh - 128px);

    border: 0;
    border-radius: 0.75rem;
    padding: 0;
    font-size: 0.875rem;

    overflow: hidden;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    & .task-edit-header {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 0;
        min-height: 56px;
        padding-inline: 1.25rem 1rem;

        border-bottom: 1px solid #0b120e24;

        overflow: hidden;

        & .group-name {
            font-weight: 500;
            padding: 0.25rem 0.5rem;
            border-radius: 3px;
            background-color: var(--dynamic-button-primary);
        }

        & .task-header-actions {
            display: flex;
            flex: 0 0 auto;
            gap: 0.5rem;
        }
    }

    & .content-wrapper {
        height: calc(100% - 56px);
        display: flex;
        overflow-y: hidden;

        &>main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0fr 1fr;
            flex: 1 1 auto;
            width: 100%;
            overflow-y: auto;

            & .task-title {
                grid-column: 1;
                grid-row: 1;
                margin-block-end: 0.5rem;
                padding: 1.5rem 1.25rem 1rem;

                & .task-icon {
                    & span {
                        display: flex;
                        align-items: center;
                    }
                }

                &>h2,
                .edit-name-textarea {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    font-size: 1.25rem;
                    font-weight: 600;
                    line-height: 1.428571;
                    margin: 0;
                }

                &>h2 {
                    width: calc(100% - 1rem);
                    border: 1px solid transparent;
                    box-shadow: inset 0 0 0 1px transparent;
                }

                & .edit-name-textarea {
                    padding: 0.375rem;
                    margin-inline-start: -0.375rem;
                    margin-block-start: -0.375rem;
                    border-radius: 0.25rem;
                    resize: none;
                    overflow-y: hidden;
                }
            }

            & .task-content {
                grid-column: 1;
                grid-row: 2;
                width: 100%;
                min-width: 460px;
                padding: 0 2.5rem 1rem 1.25rem;

                & .task-actions {
                    margin-block-end: 2rem;
                }

                & .task-actions-btns {
                    height: 2rem;
                    overflow: hidden;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;
                    margin: -0.25rem;
                    padding: 0.25rem;
                    box-sizing: content-box;
                }

                & .action-btn {
                    border: 1px solid #0b120e24;
                    background-color: #fff;
                    color: var(--text-subtle);

                    &:hover {
                        background-color: #0515240f;
                        border: 1px solid #0b120e24
                    }

                    & svg {
                        margin-inline-end: 0.25rem;
                    }
                }

                & .task-params {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;
                    margin-block-end: 1rem;
                    margin-inline-start: 2rem;
                    padding-inline-start: 0.25rem;
                    column-gap: 1rem;
                    row-gap: 1rem;
                }

                & .params-heading {
                    margin-bottom: 0.25rem;
                    color: var(--text-subtle);
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                & .btn-neutral {

                    & svg {
                        margin-inline: 0.25rem;
                    }
                }

                & .due-badge {
                    margin: auto 0 auto 0.5rem;
                    padding: 0 0.25rem;
                    border-radius: 0.125rem;
                    font-size: 12px;
                    line-height: 16px;

                    &.badge-due-soon {
                        background-color: var(--background-warning-bold);
                    }

                    &.badge-overdue {
                        background-color: var(--background-accent-red);
                        color: var(--text-accent-red);
                    }

                    &.badge-closed {
                        background-color: var(--background-success-bold);
                        color: #ffffff;
                    }
                }
            }
        }

        & aside {
            width: 460px;
            flex: 1 0 auto;
            overflow-x: hidden;
            overflow-y: auto;
            border-left: 1px solid #0b120e24;
            background-color: #f8f8f8;
            padding: 1rem;

            & .task-grid-container {
                margin-block-end: 2rem;
            }

            & .comment {
                height: 100%;
                border: none;
                border-radius: 0.5rem;
                box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
                cursor: pointer;

                &:hover {
                    background-color: #fff;
                }
            }
        }

        & .heading {
            display: flex;
            align-self: center;
            font-size: 0.875rem;
            font-weight: 600;
            margin: 0;
        }

        & .task-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            margin: 0.125rem;
        }

        & .editable {
            width: 100%;
            height: 64px;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: #fff;
            border: 1px solid #8c8f97;
            color: var(--text-subtle);

            &:hover {
                background-color: #f8f8f8;
            }
        }

        & .edit-textarea {
            width: 100%;
            height: auto;
            min-height: 200px;
            border-radius: 0.25rem;
            resize: none;
            overflow-y: hidden;
        }

        & .edit-description-actions {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-block-start: 0.5rem;

            button {
                padding: 0.5rem 0.75rem;
            }
        }

        & .editable,
        .comment,
        .description,
        .edit-textarea {
            padding: 0.75rem;
            line-height: 1.714;
        }
    }

    & .task-flex-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 100%;
    }

    & .task-grid-container {
        display: grid;
        grid-template-columns: 32px minmax(0, 1fr);
        column-gap: 0.25rem;
        row-gap: 0.75rem;
    }
}