.home {
    background: url('../../images/hero.png') no-repeat right center;

    & .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        height: calc(100vh - 48px);

        & h1 {
            font-size: 3em;
        }

        & p {
            font-size: 1.2em;
        }

        & button {
            font-size: 1rem;
            margin: 3rem 0;
            padding: 1.4rem;
        }
    }
}