.app-header {
    display: flex;
    align-items: center;
    min-height: 48px;
    max-height: 48px;;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(23 43 77 / 16%);
    
    & nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        
        .logo {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            font-size: 1.42857em;
            font-weight: 700;
            margin-inline-end: 2em;
            color: var(--primary);
            line-height: 1;

            &:hover {
                text-decoration: none;
            }
        }

        .actions {
            display: flex;
            flex: 1 0 auto;
            justify-content: flex-end;
            gap: 0.5rem;
        }

        .btn-group {
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: var(--clr1);

        .score {
            padding: 8px;
            background-color: var(--clr2);
            border-radius: 50%;
            margin: 10px;

            color: var(--gray1);
        }

        & img {
            width: 24px;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }

    &.board-header {
        background-color: var(--dynamic-background);

        .logo {
            color: var(--secondary);
        }
        
        .btn-primary {
            background-color: var(--dynamic-button-primary);
            color: var(--dynamic-button-primary-text);

            &:hover {
                background-color: var(--dynamic-button-primary-hovered);
            }
        }
    }
}