.app-header {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(23, 43, 77, 0.16);
    
    & nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        
        .logo {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            font-size: 1.25rem;
            font-weight: 700;
            margin-inline-end: 2em;
            color: var(--primary);
            line-height: 1;

            &:hover {
                text-decoration: none;
            }
        }

        .auth-actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            & > a {
                align-items: center;
                display: flex;
                font-size: 1.25rem;
                height: 48px;
                padding: 0 1.5rem;
                text-decoration: none;
            }


            & .login-link {
                background-color: transparent;
                color: var(--text);
            }

            & .signup-link {
                color: #fff;
                background-color: var(--button-primary);

                &:hover {
                    background-color: var(--button-primary-hovered);
                }
            }
        }

        .actions {
            display: flex;
            flex: 1 0 auto;
            justify-content: flex-end;
            gap: 0.5rem;
        }

        .btn-group {
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }
    }

    &.home-header {
        background-color: #fff;

        &:hover {
            box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
        }
    }
    

    &.board-header {
        background-color: var(--dynamic-background);

        .logo {
            color: var(--secondary);
        }
    }
}