.item-creator {
    &.group {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 272px;
        height: fit-content;
        max-height: 100%;
        margin: 0 0.375rem;
        padding: 0.5rem;
        color: var(--ds-text-subtle);
        background-color: #f1f2f4;
        border-radius: 0.75rem;
        box-shadow: 0px 1px 1px #1E1F2140, 0px 0px 1px #1E1F214F;
    }

    & .add-task-form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & .add-task-textarea {
        width: 100%;
        min-height: 36px;
        padding: 0.5rem 0.75rem 0.25rem;
        font-size: 0.875rem;
        background-color: #fff;
        border-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0px 1px 1px #1E1F2140, 0px 0px 1px #1E1F214F;
        resize: none;

        &:focus {
            outline: #4688EC auto 2px;
        }
    }

    & .add-task-actions {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.25rem;

        & button {
            font-size: 0.875rem;
        }
    }
}