.list-list {
    position: relative;
    flex-grow: 1;
    
    & .lists {
        display: flex;
        list-style-type: none;
        margin: 12px 0 0 0; /* 12px 0 0 0 */
        padding: 0;

        top: -0.142857rem;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0.142857rem 0.428571rem 4rem; /* 2px 6px 64px */
        scrollbar-color: #fff6 #00000026;
        scrollbar-width: thin;
        position: absolute;
        overflow: auto hidden;

        & li {
            display: flex;
            flex-direction: column;
            align-self: start;
            justify-content: flex-start;
            width: 272px;
            height: 100%;
            max-height: 100%;
            padding-bottom: 0.285714rem; /* 4px */
            border-radius: 0.857142rem; /* 12px */
            background-color:#f1f2f4;
            box-shadow: 0px 1px 1px #1E1F2140, 0px 0px 1px #1E1F214F;
            color: var(--ds-text-subtle);     
            margin: 0 0.428571rem; /* 6px */

            & .list-header {
                display: flex;
                flex-grow: 1;
                padding: 0.428571rem 0.428571rem 0; /* 6px 6px 0 */
                margin: 0;

                & h2, input {
                    display: block;

                    &.hidden {
                        display: none;
                    }
                }
            }
        }
    }
}