.board-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    column-gap: 2%;
    row-gap: 1.25rem;
    list-style-type: none;

    & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        min-height: 108px;
        border-radius: 0.5rem;
        box-shadow: 0px 1px 1px #1E1F2140, 0px 0px 1px #1E1F214F;
        background-color: #0515240f;
        font-size: 0.875rem;
        color: var(--text-subtle);
        cursor: pointer;
        overflow: hidden;

        &.board-preview {
            align-items: initial;
            justify-content: initial;
        }
    }
}