/* Inter Regular-400 */
@font-face {
    font-family: 'Inter';
    src: url('../../fonts/inter/Inter_Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Inter Medium-500*/
@font-face {
    font-family: 'Inter';
    src: url('../../fonts/inter/Inter_Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Inter SemiBold-600 */
@font-face {
    font-family: 'Inter';
    src: url('../../fonts/inter/Inter_SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Inter Bold-700 */
@font-face {
    font-family: 'Inter';
    src: url('../../fonts/inter/Inter_Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}