:root {
  --primary: #1868DB;
  --secondary: #172B4D;

  /* 'Create' button in Workspace */
  --button-primary: var(--primary);
  --button-primary-text: #FFFFFF;
  --button-primary-hovered: #1558bc;
  --button-primary-pressed: #123263;

  /* Icon buttons */
  --dynamic-button: transparent;
  --dynamic-button-hovered: rgba(0, 0, 0, 0.16);
  --dynamic-button-pressed: rgba(0, 0, 0, 0.16);
  --dynamic-button-text: var(--dynamic-text);

  /* 'Create' button in Board */
  --dynamic-button-primary: rgba(0, 0, 0, 0.16);
  --dynamic-button-primary-hovered: rgba(0, 0, 0, 0.32);
  --dynamic-button-primary-pressed: rgba(0, 0, 0, 0.32);
  --dynamic-button-primary-text: var(--dynamic-text);
  
  /* /Share' button */
  --dynamic-button-highlighted: rgba(0, 0, 0, 0.5);
  --dynamic-button-highlighted-hovered: rgba(0, 0, 0, 0.6);
  --dynamic-button-highlighted-pressed: rgba(0, 0, 0, 0.6);
  --dynamic-button-highlighted-text: #FFFFFF;
  
  --text: #292a2e;
  --dynamic-text: var(--secondary);
  --text-selected: #0c66e4;
  --link: var(--primary);
  --link-visited: #803FA5;
  --background-selected: #E9F2FE;
  --background-neutral: #0515240F;
  --background-neutral-hovered: #0B120E24;
  --dynamic-background: #b7bba9;

  /* 'Vote' */
  --text-accent-blue: #1558BC;
  --background-accent-blue: #CFE1FD;

  /* Icons in Cards */
  --text-subtle: #505258;

  /* badge-completed */
  --background-success-bold: #5B7F24;

  /* badge-due-soon */
  --background-warning-bold: #FBC828;

  /* badge-overdue */
  --background-accent-red: #FD9891;
  --text-accent-red: #AE2E24;

  /* card-done */
  --icon-success: #6A9A23;

  /* 'Delete comment' */
  --background-danger-bold: #C9372C;
  --background-danger-bold-hovered: #AE2E24;
}
