:root {
  --primary: #1868db;
  --secondary: #172b4d;

  /* 'Create' button in Workspace */
  --button-primary: var(--primary);
  --button-primary-text: #ffffff;
  --button-primary-hovered: #1558bc;
  --button-primary-pressed: #123263;

  /* Icon buttons */
  --dynamic-button: transparent;
  --dynamic-button-hovered: rgba(0, 0, 0, 0.16);
  --dynamic-button-pressed: rgba(0, 0, 0, 0.16);
  --dynamic-button-text: var(--dynamic-text);

  /* 'Create' button in Board */
  --dynamic-button-primary: rgba(0, 0, 0, 0.16);
  --dynamic-button-primary-hovered: rgba(0, 0, 0, 0.32);
  --dynamic-button-primary-pressed: rgba(0, 0, 0, 0.32);
  --dynamic-button-primary-text: var(--dynamic-text);

  /* /Share' button */
  --dynamic-button-highlighted: rgba(0, 0, 0, 0.5);
  --dynamic-button-highlighted-hovered: rgba(0, 0, 0, 0.6);
  --dynamic-button-highlighted-pressed: rgba(0, 0, 0, 0.6);
  --dynamic-button-highlighted-text: #ffffff;

  --text: #292a2e;
  --text-subtle: #505258;
  --dynamic-text: var(--secondary);
  --text-selected: #0c66e4;
  --link: var(--primary);
  --link-visited: #803fa5;
  --background-selected: #e9f2fe;
  --background-neutral: #0515240f;
  --background-neutral-hovered: #0b120e24;
  --dynamic-background: #b7bba9;

  /* 'Vote' */
  --text-accent-blue: #1558bc;
  --background-accent-blue: #cfe1fd;

  /* Icons in Tasks */
  --text-subtle: #505258;

  /* badge-completed */
  --background-success-bold: #5b7f24;

  /* badge-due-soon */
  --background-warning-bold: #fbc828;

  /* badge-overdue */
  --background-accent-red: #ffd5d2;
  --text-accent-red: #ae2e24;

  /* task-done */
  --icon-success: #6a9a23;

  /* 'Delete comment' */
  --background-danger-bold: #c9372c;
  --background-danger-bold-hovered: #ae2e24;

  /* Box shadow */
  --shadow-overlay: 0 8px 12px #1e1f2126, 0 0 1px #1e1f214f;
}
