.task-preview {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    background-color: #fff;
    box-shadow: 0px 1px 1px #1E1F2140, 0px 0px 1px #1E1F214F;
    border-radius: 0.5rem;

    & a {
        text-decoration: none;
        color: inherit;
    }

    &:hover {
        outline: #4688EC auto 2px;
        outline-offset: 2px;
    }

    & .task-wrapper {
        position: relative;
        min-height: 36px;
        border-color: #fff;;
        padding: 0.5rem 0.75rem 0.25rem;
        cursor: pointer;
        scroll-margin: 0.5rem;

        & .task-header {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.5rem;

            & .task-state {
                margin-block-start: 0.125rem;
            }
        }

        & .edit-btn {
            display: none;
            position: absolute;
            top: 0.125rem;
            right: 0.125rem; 
            margin: 0 0.125px; /* 2px */
            padding: 0.375rem; /* 6px */
            border-radius: 16px;
            background-color: #fff;
            cursor: pointer;

            &:hover {
                background-color: #F0F1F2;
            }
        }

        &:hover {
            & .edit-btn {
                display: flex;
                align-items: center;
            }
        }
    }
}