.task-list {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0 0.25rem;
    /* 4px */
    padding: 0.25rem;
    /* 4px */
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    row-gap: 8px;
    scrollbar-color: #0B120E24 #0515240F;
    scrollbar-width: thin;

    & .add-task-form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & .add-task-textarea {
        width: 100%;
        min-height: 36px;
        background-color: #fff;
        border-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0px 1px 1px #1E1F2140, 0px 0px 1px #1E1F214F;
        padding: 0.5rem 0.75rem 0.25rem;
        font-size: 0.875rem;
        resize: none;

        &:focus {
            outline: #4688EC auto 2px;
            outline-offset: 2px;
        }
    }

    & .add-task-actions {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.25rem;

        & button {
            font-size: 0.875rem;
        }
    }
}