.group-preview {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 272px;
    height: fit-content;
    max-height: 100%;
    padding-bottom: 0.25rem;
    /* 4px */
    border-radius: 0.75rem;
    /* 12px */
    background-color: #f1f2f4;
    box-shadow: 0px 1px 1px #1E1F2140, 0px 0px 1px #1E1F214F;
    color: var(--ds-text-subtle);
    margin: 0 0.375rem;
    /* 6px */

    & .group-header {
        display: flex;
        flex-grow: 0;
        padding: 0.375rem 0.375rem 0;
        /* 6px 6px 0 */
        margin: 0;

        & .group-title {
            flex-grow: 1;
            cursor: pointer;
        }

        & .editable {
            display: flex;
            align-items: center;
            width: 100%;
            height: 32px;
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 32px;
            padding: 0.375rem 0.75rem;
            /* 6px 8px 6px 12px */
            margin: 0;

            &.hidden {
                display: none;
            }

            &:focus {
                box-shadow: inset 0 0 0 1px #4688EC;
                background-color: #fff;
            }
        }

        & h2.editable {
            border: 1px solid transparent;
            box-shadow: inset 0 0 0 1px transparent;
        }
    }

    & .group-task-gap {
        height: 0.5rem;
    }

    & .group-footer {
        padding: 0.25rem 0.5rem;
        /* 4px 8px */

        & button {
            width: 100%;
            justify-content: start;
            gap: 0.5rem;
            border-radius: 0.5rem;
            /* 8px */
            padding: 0.375rem 0.5rem;
            /* 6px 8px */
            font-size: 0.875rem;
            /* 14px */
        }
    }
}