.main-container {
    &.home-container {
        background-color: rgb(244, 245, 247);
        color: rgb(9, 30, 66);
    }

    &.board-container {
        background-size: cover;
        background-attachment: fixed;
    }
}

.main-container>main {
    min-height: calc(100vh - 48px);
}